.img-carousel{
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  opacity:0.9
}
#btn-book{
  background-color: tomato !important;
  padding: 15px;
  color:whitesmoke;
}
.carousel-caption{
  position: absolute;
  top:50%;
  left:20%
}
.text-black{
  color:rgb(202, 202, 202) !important;
}
.navi{
  position:absolute;
}
.nav-item{
  font-weight: bolder;
}
.nav-item:hover::after{
  color:orange;
  content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely at the bottom of the link container */
    left: 0;
    bottom: -2px; /* Adjust this value to control the distance of the underline from the link */
    width: 100%; /* Make the underline span the full width of the link container */
   
}
.nav-link{
    text-decoration: none; /* Remove default underline */
    color: #000; /* Set the link color */
    position: relative; /* Add relative positioning to the link container */
}
.nav-link:hover::after {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely at the bottom of the link container */
    left: 0;
    bottom: -2px; /* Adjust this value to control the distance of the underline from the link */
    width: 100%; /* Make the underline span the full width of the link container */
    border-bottom: 2px solid #000; /* Define the underline style */
    
  }
  .text-bright{
    color:rgb(252, 39, 1);
    font-weight: bold;
  }
  .img-zoom:hover{
    transform:scale(1.1);
    
  }

  .quote{
    padding-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    color:#857ab1;
  }
  .quote__text::before{
content:open-quote
  }
  .quote__text::after{
    content:close-quote
      }
.quote__name{
  font-weight: bold;
  color:rgb(11, 4, 59)
}
.header{
  font-weight: bold;
   text-transform: uppercase; 
  color:#ff6347
}
.footer{
  background-color: #222222;
  color:ghostwhite;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer a{
  text-decoration: none;
  color: ghostwhite;
  
}
.numbers{
  background-image: url("./assets/sunset.jpg")  ;
  background-position: center;
  background-attachment: fixed;
  color:ghostwhite;
}


.image_text{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
  color: #f1f1f1; 
  width: 100%; /* Full width */
  padding: 20px; 
}
 .nav-link{
  color:tomato !important;
  padding-right: 3px;
 }
.hero_services{
  background: url('./assets/giraffe.jpg') no-repeat center;
  background-size: cover;
  height: 530px;
  position: relative;
  /* filter: blur(4px); */
  z-index: -1;
  color:#0F1A37;
}
.hero_services_rwanda{
  background: url('./assets/mountain-gorilla.jpg') no-repeat center;
  background-size: cover;
  height: 530px;
  position: relative;
  /* filter: blur(4px); */
  z-index: -1;
  color:#0F1A37;
}
.hero_services_uganda{
  background: url('./assets/chimpanzees.jpg') no-repeat center;
  background-size: cover;
  height: 540px;
  position: relative;
  /* filter: blur(4px); */
  z-index: -1;
  color:#0F1A37;
}
.hero_services_about{
  background: url('./assets/series79.jpg') no-repeat center;
  background-size: cover;
  height: 530px;
  position: relative;
  /* filter: blur(4px); */
  z-index: -1;
  color:#0F1A37;
}
.hero_services_tanz{
  background: url('./assets/zebra.jpg') no-repeat center;
  background-size: cover;
  height: 530px;
  position: relative;
  /* filter: blur(4px); */
  z-index: -1;
  color:#0F1A37;
}
.tilt{
  clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 100%);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.my-primary{
  color:#2A8383
}
.header-primary{
  color:#2f4f4f
}
.image-container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Distribute images evenly along the container */
  align-items: center; /* Align images vertically in the center */
  max-width: 100%; /* Limit container to screen width */
   overflow-x: auto;
}

.gallery-image {
  height:200px;
  width: 300px;
  margin-right: 12px;
}
.image-input-container {
  display: inline-block;
  position: relative;
}

.file-input-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.side li{
  padding-bottom: 15px;
}
.footer-link{
  text-decoration: none;
  text-transform: capitalize;
  color:black;
}
.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#file-input {
  display: none; /* Hide the actual input element */
}
